.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  -if(flash[:errors]!=nil)
    - flash[:errors].each do |msg|
      .alert.alert-danger{:style => " left: 8px;"}= msg
  -flash.clear
  = form_for @job_order do |job_order|
    = render(:partial => "request_form", :locals => {:job => job_order})
    .float-right{:style => "padding-bottom: 25px; padding-right: 15px;"}
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-check
          Save
      = link_to(job_order_path(@job_order), method: :get, class: 'btn btn-danger') do
        %i.fa.fa-times
          Cancel