.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  / /header
  / Header
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          %h3 Manage Job Orders
  .content.mt-3
    .custom-tab
      %nav
        #nav-tab.nav.nav-tabs{:role => "tablist"}
          %a#custom-nav-unapproved-tab.nav-item.nav-link.active{"aria-controls" => "custom-nav-unapproved", "aria-selected" => "true", "data-toggle" => "tab", :href => "#custom-nav-unapproved", :role => "tab"} Unapproved Job Orders
          %a#custom-nav-approved-tab.nav-item.nav-link{"aria-controls" => "custom-nav-approved", "aria-selected" => "false", "data-toggle" => "tab", :href => "#custom-nav-approved", :role => "tab"} Approved Job Orders
          / %a#custom-nav-ready-tab.nav-item.nav-link{"aria-controls" => "custom-nav-ready", "aria-selected" => "false", "data-toggle" => "tab", :href => "#custom-nav-ready", :role => "tab"} Ready Job Orders
          %a#custom-nav-ongoing-tab.nav-item.nav-link{"aria-controls" => "custom-nav-ongoing", "aria-selected" => "false", "data-toggle" => "tab", :href => "#custom-nav-ongoing", :role => "tab"} Ongoing Job Orders
          %a#custom-nav-finished-tab.nav-item.nav-link{"aria-controls" => "custom-nav-finished", "aria-selected" => "false", "data-toggle" => "tab", :href => "#custom-nav-finished", :role => "tab"} Finished Job Orders
      #nav-tabContent.tab-content.pl-3.pt-2
        #custom-nav-unapproved.tab-pane.fade.show.active{"aria-labelledby" => "custom-nav-unapproved", :role => "tabpane"}
          .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-body
                    = render(:partial => "data_table", :locals => {:data => @unapproved})
        #custom-nav-approved.tab-pane.fade{"aria-labelledby" => "custom-nav-approved", :role => "tabpanel"}
          .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-body
                    = render(:partial => "data_table", :locals => {:data => @approved})

        / #custom-nav-ready.tab-pane.fade{"aria-labelledby" => "custom-nav-ready", :role => "tabpanel"}

        #custom-nav-ongoing.tab-pane.fade{"aria-labelledby" => "custom-nav-ongoing", :role => "tabpanel"}
          .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-body
                    = render(:partial => "data_table", :locals => {:data => @ongoing})

        #custom-nav-finished.tab-pane.fade{"aria-labelledby" => "custom-nav-finished", :role => "tabpanel"}
          .animated.fadeIn
            .row
              .col-md-12
                .card
                  .card-body
                    = render(:partial => "data_table", :locals => {:data => @finished})

                

%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
