.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  = form_for(:job_order, :url => '/job_orders') do |job|
    = render(:partial => "request_form", :locals => {:job => job})


%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/popper.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
