.div{:style => "position: relative; top: 75px; z-index:1; left: 275px; width: 80%;"}
  - flash.each do |key, value|
    .col-sm-12
      .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
        %span.badge.badge-pill.badge-warning Error
        =value
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×

  = form_for(:job_order, :url => '/job_orders') do |job|
    .content.mt-3
      .animated.fadeIn
        .row
          = render(:partial => "request_form", :locals => {:job => job})
          - if @job_order.progress == "Ready to Start"
            = render(:partial => "admin_inspection_form", :locals => {:job => job})
            = render(:partial => "office_assignment_form", :locals => {:job => job})

%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "/assets/js/popper.min.js"}
%script{:src => "/assets/js/plugins.js"}
%script{:src => "/assets/js/main.js"}
%script{:src => "/assets/js/vendor/jquery-2.1.4.min.js"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
:javascript
  function enableDisableField() {
    var cb1 = document.getElementById('others').checked;
    document.getElementById('specify').disabled = !cb1;
  }
