%body.bg-dark
  .sufee-login.d-flex.align-content-center.flex-wrap
    .container
      .login-content
        .login-logo
          %a{:href => "/login"}
            %img.align-content{:alt => "", :src => "images/lg.png"}/
        .login-form
          %form
            .form-group
              %label Email or Username
              %input.form-control{:placeholder => "Email or username", :type => "email"}/
            .form-group
              %label Password
              %input.form-control{:placeholder => "Password", :type => "password"}/
            .checkbox
              %label
                %input{:type => "checkbox"}/
                Remember Me
              %label.pull-right
                %a{:href => "#"} Forgotten Password?
            %button.btn.btn-success.btn-flat.m-b-30.m-t-30{:type => "submit"} Sign in
            .register-link.m-t-15.text-center
              %p
                Don't have account ?
                %a{:href => "/signup"} Sign Up Here
  %script{:src => "assets/js/vendor/jquery-2.1.4.min.js"}
  %script{:src => "assets/js/popper.min.js"}
  %script{:src => "assets/js/plugins.js"}
  %script{:src => "assets/js/main.js"}
