.page-title
  .title_left
    %h3
      Echarts
      %small Some examples to get you started
  .title_right
    .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
      .input-group
        %input.form-control{:placeholder => "Search for...", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"} Go!
.clearfix
.row
  .col-md-8.col-sm-8.col-xs-12
    .x_panel
      .x_title
        %h2 Bar Graph
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #mainb{:style => "height:350px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Mini Pie
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_mini_pie{:style => "height:350px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Pie Graph
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_pie{:style => "height:350px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Pie Area
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_pie2{:style => "height:350px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Donut Graph
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_donut{:style => "height:350px;"}
  .col-md-6.col-sm-6.col-xs-12
    .x_panel
      .x_title
        %h2 Scatter Graph
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_scatter{:style => "height:350px;"}
  .col-md-6.col-sm-6.col-xs-12
    .x_panel
      .x_title
        %h2 Line Graph
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_line{:style => "height:350px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Horizontal Bar
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_bar_horizontal{:style => "height:370px;"}
  .col-md-8.col-sm-8.col-xs-12
    .x_panel
      .x_title
        %h2 World Map
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_world_map{:style => "height:370px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Pyramid
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_pyramid{:style => "min-height:200px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Sonar
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_sonar{:style => "height:370px;"}
  .col-md-4.col-sm-4.col-xs-12
    .x_panel
      .x_title
        %h2 Guage
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        #echart_gauge{:style => "height:370px;"}
