.page-title
  .title_left
    %h3
      Media Gallery
      %small gallery design
  .title_right
    .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
      .input-group
        %input.form-control{:placeholder => "Search for...", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"} Go!
.clearfix
.row
  .col-md-12
    .x_panel
      .x_title
        %h2
          Media Gallery
          %small gallery design
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        .row
          %p Media gallery design emelents
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask
                  %p Your Text
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p Snow and Ice Incoming for the South
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask
                  %p Your Text
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p Snow and Ice Incoming for the South
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask
                  %p Your Text
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p Snow and Ice Incoming for the South
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask
                  %p Your Text
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p Snow and Ice Incoming for the South
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask
                  %p Your Text
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p Snow and Ice Incoming for the South
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask.no-caption
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p
                  %strong Image Name
                %p Snow and Ice Incoming
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask.no-caption
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p
                  %strong Image Name
                %p Snow and Ice Incoming
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask.no-caption
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p
                  %strong Image Name
                %p Snow and Ice Incoming
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask.no-caption
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p
                  %strong Image Name
                %p Snow and Ice Incoming
          .col-md-55
            .thumbnail
              .image.view.view-first
                %img{:alt => "image", :src => "images/media.jpg", :style => "width: 100%; display: block;"}/
                .mask.no-caption
                  .tools.tools-bottom
                    %a{:href => "#"}
                      %i.fa.fa-link
                    %a{:href => "#"}
                      %i.fa.fa-pencil
                    %a{:href => "#"}
                      %i.fa.fa-times
              .caption
                %p
                  %strong Image Name
                %p Snow and Ice Incoming
