// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2#errorHeading{
  text-align: center;
}

p#errorList{
  text-align: center;
  color: rebeccapurple;
}

h2#successHeading{
  text-align: center;
}