// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer#userfooter
{
  margin:auto;
  text-align: center;
}

h3#signuptitle
{
  text-align: center;
}
